@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Home page admin</h1>

<!-- Aggiungi il bottone "Crea Nuovo Utente" solo se l'utente è un Admin -->
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <a href="/Admin/Users/Create" class="btn btn-primary">Aggiungi Nuovo Utente</a>
}